/* *{
    margin: 0;
} */
p{
    color: rgba(255,255,255,0.8);
}
body{
    font-family: 'Circular', "Helvetica", sans-serif;
    background-color: black;
}
#logo_area{
    display: flex;
    align-items: center;
}
#logo{
    background-image: url("Spotify_Icon.png");
    background-size: contain;
    width: 70px;
    height: 70px;
    margin: 20px;
}
h1{
    font-family: 'Circular', "Helvetica", sans-serif;
    font-weight: 700;
    font-size: 6em;
    color:  #2FD565;
    font-weight: bold;
    line-height: 80%;
    letter-spacing: -5px;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'kern' 1;
    letter-spacing: 0.8px;
}
h3{
    font-family: 'Circular', sans-serif;
    color: rgba(255,255,255,0.8);
}
#main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 3fr 100px;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
#footer {
    font-size: 0.9em;
    /* position: absolute; */
    /* bottom: 0; */
    width: 98%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

#footerLink{
    color:whitesmoke;
    text-decoration: none;
}
#search{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    justify-self: center;
    justify-items: center;
    align-items: center;
    left: 200px;
    top: 50px;
}

#results{
    /* position: absolute; */
    /* left:100px;
    top:200px; */
}
.result{
    position: relative;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    transition: 1s;

}
.spotifyImg{
    width: 100px;
    height: 100px;
    margin: 20px;
    border: 2px solid rgba(255,255,255,0.8);
    border-radius: 5%
}
.highlighted{
    background-color: lightblue;
}

.result:hover{
    cursor:pointer;
}

#more.button{
    /* display: absolute; */
    display:flex;
    align-self: center;
    bottom:200px;
    font-family: 'Work Sans', sans-serif;
    color: #2FD565 ;
    padding: 10px ;
    margin:20px;
    margin-bottom: 40px;
    font-size: 3em;
    font-weight: 600;
    cursor: pointer;
    justify-content: center;
}
.button{
        align-self: center;
}

.button:active {
    transform: translateY(4px);
}

a:hover{
    cursor: pointer;
}
